@tailwind base;
@tailwind components;
@tailwind utilities;

/* the text color of the drop label*/
.filepond--root .filepond--drop-label {
    font-size: small;
    height: fit-content;
    cursor: pointer;
}

/* the text color of the drop label*/
.filepond--root {
    margin-bottom: 0 !important;
}

/* the text color of the drop label*/
.filepond--root .filepond--panel-root {
    background-color: #f9fafb;
}

.tree {
    width: 3000px;
}

.tree ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}
.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    /* color: #666; */
    font-family: arial, verdana, tahoma;
    font-size: 12px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover,
.tree li a:hover + ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
    border-color: #94a0b4;
}

/* Tom Select CSS */
.ts-control {
    @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white;
}

.focus .ts-control {
    @apply ring-1 ring-blue-500 border-blue-500 dark:ring-blue-500 dark:border-blue-500;
}

.ts-dropdown,
.ts-control,
.ts-control input {
    @apply text-sm;
}

.ts-control,
.ts-wrapper.single.input-active .ts-control {
    @apply bg-gray-50 cursor-text dark:bg-gray-700 dark:text-white;
}

.full .ts-control {
    @apply bg-gray-50 dark:bg-gray-700;
}

.ts-dropdown .active {
    @apply bg-gray-50 dark:bg-gray-700;
}

.ts-wrapper.multi.has-items .ts-control {
    @apply px-1.5 py-[5px];
}

.ts-control > input {
    @apply w-full dark:text-white dark:placeholder-gray-400;
}

.has-items .ts-control > input {
    @apply w-fit;
}

.ts-wrapper.multi .ts-control > div {
    @apply cursor-default my-1 mr-[3px] bg-gray-200 dark:text-white dark:bg-gray-600 rounded-md px-1.5 py-px;
}

.ts-dropdown {
    @apply rounded-md border border-solid border-t border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.ts-dropdown [data-selectable].option:first-child {
    @apply rounded-t-md dark:bg-gray-700 dark:hover:bg-indigo-100 dark:hover:text-indigo-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.ts-dropdown [data-selectable].option:last-child {
    @apply rounded-b-md dark:bg-gray-700 dark:hover:bg-indigo-100 dark:hover:text-indigo-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.ts-dropdown .create:hover,
.ts-dropdown .option:hover,
.ts-dropdown .active {
    @apply bg-indigo-100 text-indigo-900;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    @apply hidden;
}

input[datepicker] {
    @apply cursor-pointer;
}

.datepicker-controls button:disabled {
    @apply bg-white hover:bg-white dark:bg-gray-700 dark:hover:bg-gray-700 cursor-default;
}

.datepicker-controls button:disabled > svg {
    @apply text-gray-300 dark:text-gray-600;
}

.datepicker-cell.disabled,
.datepicker-cell.prev.disabled,
.datepicker-cell.next.disabled {
    @apply bg-white hover:bg-white dark:bg-gray-700 dark:hover:bg-gray-700 cursor-default text-gray-300 dark:text-gray-600;
}

.datepicker-cell.prev,
.datepicker-cell.next {
    @apply text-gray-500 dark:text-gray-400;
}

.tiptap {
    @apply dark:text-white outline-none;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

/* Datatables */
.dt-orderable-asc.dt-ordering-asc .sort-asc {
    @apply text-gray-500 dark:text-white;
}

.dt-orderable-asc.dt-ordering-desc .sort-desc {
    @apply text-gray-500 dark:text-white;
}

.dt-layout-row {
    @apply flex place-content-between items-center text-sm text-gray-700 dark:text-gray-400;
}

.dt-layout-row.dt-layout-table {
    @apply block overflow-x-auto;
}

.dt-container {
    @apply space-y-4;
}

.dt-paging-button.first {
    @apply h-full py-2 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
}

.dt-paging-button {
    @apply px-3 py-2 text-sm leading-tight text-gray-500 bg-white border-l border-y border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
}

.dt-paging-button.last {
    @apply h-full py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
}

.dt-paging-button.current {
    @apply px-3 py-2 text-sm leading-tight border-l border-y text-blue-600 bg-blue-50 border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
}

.dt-length .dt-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-2 p-1.5 pe-8 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.dt-layout-cell.dt-start {
    @apply inline-flex items-center;
}

.dt-empty {
    @apply text-center py-4;
}
